<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengmaclub.mapper.MangoptionsmatchMapper">
  <resultMap id="BaseResultMap" type="com.mengmaclub.model.Mangoptionsmatch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="joinpeopleid" jdbcType="INTEGER" property="joinpeopleid" />
    <result column="turn" jdbcType="INTEGER" property="turn" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="score1one" jdbcType="VARCHAR" property="score1one" />
    <result column="score2one" jdbcType="VARCHAR" property="score2one" />
    <result column="score3one" jdbcType="VARCHAR" property="score3one" />
    <result column="score4one" jdbcType="VARCHAR" property="score4one" />
    <result column="score5one" jdbcType="VARCHAR" property="score5one" />
    <result column="score6one" jdbcType="VARCHAR" property="score6one" />
    <result column="score7one" jdbcType="VARCHAR" property="score7one" />
    <result column="score8one" jdbcType="VARCHAR" property="score8one" />
    <result column="score9one" jdbcType="VARCHAR" property="score9one" />
    <result column="score10one" jdbcType="VARCHAR" property="score10one" />
    <result column="score1two" jdbcType="VARCHAR" property="score1two" />
    <result column="score2two" jdbcType="VARCHAR" property="score2two" />
    <result column="score3two" jdbcType="VARCHAR" property="score3two" />
    <result column="score4two" jdbcType="VARCHAR" property="score4two" />
    <result column="score5two" jdbcType="VARCHAR" property="score5two" />
    <result column="score6two" jdbcType="VARCHAR" property="score6two" />
    <result column="score7two" jdbcType="VARCHAR" property="score7two" />
    <result column="score8two" jdbcType="VARCHAR" property="score8two" />
    <result column="score9two" jdbcType="VARCHAR" property="score9two" />
    <result column="score10two" jdbcType="VARCHAR" property="score10two" />
    <result column="scorefinalone" jdbcType="VARCHAR" property="scorefinalone" />
    <result column="scorefinaltwo" jdbcType="VARCHAR" property="scorefinaltwo" />
    <result column="scorefinal" jdbcType="VARCHAR" property="scorefinal" />
    <result column="scoreonebytranslate" jdbcType="DOUBLE" property="scoreonebytranslate" />
    <result column="scoretwobytranslate" jdbcType="DOUBLE" property="scoretwobytranslate" />
    <result column="tworoundisconfirm" jdbcType="INTEGER" property="tworoundisconfirm" />
    <result column="oneroundisconfirm" jdbcType="INTEGER" property="oneroundisconfirm" />
    <result column="oneroundrid" jdbcType="INTEGER" property="oneroundrid" />
    <result column="tworoundrid" jdbcType="INTEGER" property="tworoundrid" />
    <result column="teamname" jdbcType="VARCHAR" property="teamname" />
    <result column="reward" jdbcType="VARCHAR" property="reward" />
    <result column="isteammatch" jdbcType="INTEGER" property="isteammatch" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    
    <result column="joinmatch" jdbcType="INTEGER" property="joinmatch" />
    <result column="joinlist" jdbcType="INTEGER" property="joinlist" />
    <result column="joingage" jdbcType="INTEGER" property="joingage" />
    <result column="isconfirm" jdbcType="INTEGER" property="isconfirm" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sn, name, joinpeopleid, turn, rank, score1one, score2one, score3one, score4one, 
    score5one, score6one, score7one, score8one, score9one, score10one, score1two, score2two, 
    score3two, score4two, score5two, score6two, score7two, score8two, score9two, score10two, 
    scorefinalone, scorefinaltwo, scorefinal, scoreonebytranslate, scoretwobytranslate, 
    tworoundisconfirm, oneroundisconfirm, oneroundrid, tworoundrid, teamname, reward, 
    isteammatch, num,joinmatch, joinlist, joingage, isconfirm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mangoptionsmatch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findBySnJid" resultType="com.mengmaclub.model.Mangoptionsmatch">
   select * from mangoptionsmatch where sn=#{arg0} and joinpeopleid=#{arg1}
  </select>
   <select id="findBySn" parameterType="java.lang.String"  resultMap="BaseResultMap">
  select * from mangoptionsmatch where sn=#{sn,jdbcType=VARCHAR}

  </select>
  <select id="findByjid"  parameterType="java.lang.Integer"  resultMap="BaseResultMap">
   select * from mangoptionsmatch where joinpeopleid=#{joinpeopleid,jdbcType=INTEGER}
  </select>
  <select id="findWhoJoinThisMatchThisListAndHasConfirm"  parameterType="java.lang.Integer"  resultType="com.mengmaclub.model.Mangoptionsmatch">
  
  
    SELECT
	*
FROM
mangoptionsmatch	
WHERE


joinmatch=#{arg0}
and joinlist=#{arg1}
and joingage=#{arg2}
  
  </select>
  
  
  <select id="findWhereIsMyListGagePeople"  parameterType="java.lang.Integer"  resultType="com.mengmaclub.model.Mangoptionsmatch">
  select * from mangoptionsmatch where  joingage=#{arg0} and joinlist=#{arg1} 
  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mangoptionsmatch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mengmaclub.model.Mangoptionsmatch">
    insert into mangoptionsmatch (id, sn, name, 
      joinpeopleid, turn, rank, 
      score1one, score2one, score3one, 
      score4one, score5one, score6one, 
      score7one, score8one, score9one, 
      score10one, score1two, score2two, 
      score3two, score4two, score5two, 
      score6two, score7two, score8two, 
      score9two, score10two, scorefinalone, 
      scorefinaltwo, scorefinal, scoreonebytranslate, 
      scoretwobytranslate, tworoundisconfirm, 
      oneroundisconfirm, oneroundrid, tworoundrid, 
      teamname, reward, isteammatch, 
      num,joinmatch, joinlist, joingage, 
      isconfirm)
    values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{joinpeopleid,jdbcType=INTEGER}, #{turn,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER}, 
      #{score1one,jdbcType=VARCHAR}, #{score2one,jdbcType=VARCHAR}, #{score3one,jdbcType=VARCHAR}, 
      #{score4one,jdbcType=VARCHAR}, #{score5one,jdbcType=VARCHAR}, #{score6one,jdbcType=VARCHAR}, 
      #{score7one,jdbcType=VARCHAR}, #{score8one,jdbcType=VARCHAR}, #{score9one,jdbcType=VARCHAR}, 
      #{score10one,jdbcType=VARCHAR}, #{score1two,jdbcType=VARCHAR}, #{score2two,jdbcType=VARCHAR}, 
      #{score3two,jdbcType=VARCHAR}, #{score4two,jdbcType=VARCHAR}, #{score5two,jdbcType=VARCHAR}, 
      #{score6two,jdbcType=VARCHAR}, #{score7two,jdbcType=VARCHAR}, #{score8two,jdbcType=VARCHAR}, 
      #{score9two,jdbcType=VARCHAR}, #{score10two,jdbcType=VARCHAR}, #{scorefinalone,jdbcType=VARCHAR}, 
      #{scorefinaltwo,jdbcType=VARCHAR}, #{scorefinal,jdbcType=VARCHAR}, #{scoreonebytranslate,jdbcType=DOUBLE}, 
      #{scoretwobytranslate,jdbcType=DOUBLE}, #{tworoundisconfirm,jdbcType=INTEGER}, 
      #{oneroundisconfirm,jdbcType=INTEGER}, #{oneroundrid,jdbcType=INTEGER}, #{tworoundrid,jdbcType=INTEGER}, 
      #{teamname,jdbcType=VARCHAR}, #{reward,jdbcType=VARCHAR}, #{isteammatch,jdbcType=INTEGER}, 
      #{num,jdbcType=VARCHAR}, #{joinmatch,jdbcType=INTEGER}, #{joinlist,jdbcType=INTEGER}, #{joingage,jdbcType=INTEGER}, 
      #{isconfirm,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mengmaclub.model.Mangoptionsmatch">
    insert into mangoptionsmatch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sn != null">
        sn,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="joinpeopleid != null">
        joinpeopleid,
      </if>
      <if test="turn != null">
        turn,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="score1one != null">
        score1one,
      </if>
      <if test="score2one != null">
        score2one,
      </if>
      <if test="score3one != null">
        score3one,
      </if>
      <if test="score4one != null">
        score4one,
      </if>
      <if test="score5one != null">
        score5one,
      </if>
      <if test="score6one != null">
        score6one,
      </if>
      <if test="score7one != null">
        score7one,
      </if>
      <if test="score8one != null">
        score8one,
      </if>
      <if test="score9one != null">
        score9one,
      </if>
      <if test="score10one != null">
        score10one,
      </if>
      <if test="score1two != null">
        score1two,
      </if>
      <if test="score2two != null">
        score2two,
      </if>
      <if test="score3two != null">
        score3two,
      </if>
      <if test="score4two != null">
        score4two,
      </if>
      <if test="score5two != null">
        score5two,
      </if>
      <if test="score6two != null">
        score6two,
      </if>
      <if test="score7two != null">
        score7two,
      </if>
      <if test="score8two != null">
        score8two,
      </if>
      <if test="score9two != null">
        score9two,
      </if>
      <if test="score10two != null">
        score10two,
      </if>
      <if test="scorefinalone != null">
        scorefinalone,
      </if>
      <if test="scorefinaltwo != null">
        scorefinaltwo,
      </if>
      <if test="scorefinal != null">
        scorefinal,
      </if>
      <if test="scoreonebytranslate != null">
        scoreonebytranslate,
      </if>
      <if test="scoretwobytranslate != null">
        scoretwobytranslate,
      </if>
      <if test="tworoundisconfirm != null">
        tworoundisconfirm,
      </if>
      <if test="oneroundisconfirm != null">
        oneroundisconfirm,
      </if>
      <if test="oneroundrid != null">
        oneroundrid,
      </if>
      <if test="tworoundrid != null">
        tworoundrid,
      </if>
      <if test="teamname != null">
        teamname,
      </if>
      <if test="reward != null">
        reward,
      </if>
      <if test="isteammatch != null">
        isteammatch,
      </if>
      <if test="num != null">
        num,
      </if>
       <if test="joinmatch != null">
        joinmatch,
      </if>
      <if test="joinlist != null">
        joinlist,
      </if>
      <if test="joingage != null">
        joingage,
      </if>
      <if test="isconfirm != null">
        isconfirm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="joinpeopleid != null">
        #{joinpeopleid,jdbcType=INTEGER},
      </if>
      <if test="turn != null">
        #{turn,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="score1one != null">
        #{score1one,jdbcType=VARCHAR},
      </if>
      <if test="score2one != null">
        #{score2one,jdbcType=VARCHAR},
      </if>
      <if test="score3one != null">
        #{score3one,jdbcType=VARCHAR},
      </if>
      <if test="score4one != null">
        #{score4one,jdbcType=VARCHAR},
      </if>
      <if test="score5one != null">
        #{score5one,jdbcType=VARCHAR},
      </if>
      <if test="score6one != null">
        #{score6one,jdbcType=VARCHAR},
      </if>
      <if test="score7one != null">
        #{score7one,jdbcType=VARCHAR},
      </if>
      <if test="score8one != null">
        #{score8one,jdbcType=VARCHAR},
      </if>
      <if test="score9one != null">
        #{score9one,jdbcType=VARCHAR},
      </if>
      <if test="score10one != null">
        #{score10one,jdbcType=VARCHAR},
      </if>
      <if test="score1two != null">
        #{score1two,jdbcType=VARCHAR},
      </if>
      <if test="score2two != null">
        #{score2two,jdbcType=VARCHAR},
      </if>
      <if test="score3two != null">
        #{score3two,jdbcType=VARCHAR},
      </if>
      <if test="score4two != null">
        #{score4two,jdbcType=VARCHAR},
      </if>
      <if test="score5two != null">
        #{score5two,jdbcType=VARCHAR},
      </if>
      <if test="score6two != null">
        #{score6two,jdbcType=VARCHAR},
      </if>
      <if test="score7two != null">
        #{score7two,jdbcType=VARCHAR},
      </if>
      <if test="score8two != null">
        #{score8two,jdbcType=VARCHAR},
      </if>
      <if test="score9two != null">
        #{score9two,jdbcType=VARCHAR},
      </if>
      <if test="score10two != null">
        #{score10two,jdbcType=VARCHAR},
      </if>
      <if test="scorefinalone != null">
        #{scorefinalone,jdbcType=VARCHAR},
      </if>
      <if test="scorefinaltwo != null">
        #{scorefinaltwo,jdbcType=VARCHAR},
      </if>
      <if test="scorefinal != null">
        #{scorefinal,jdbcType=VARCHAR},
      </if>
      <if test="scoreonebytranslate != null">
        #{scoreonebytranslate,jdbcType=DOUBLE},
      </if>
      <if test="scoretwobytranslate != null">
        #{scoretwobytranslate,jdbcType=DOUBLE},
      </if>
      <if test="tworoundisconfirm != null">
        #{tworoundisconfirm,jdbcType=INTEGER},
      </if>
      <if test="oneroundisconfirm != null">
        #{oneroundisconfirm,jdbcType=INTEGER},
      </if>
      <if test="oneroundrid != null">
        #{oneroundrid,jdbcType=INTEGER},
      </if>
      <if test="tworoundrid != null">
        #{tworoundrid,jdbcType=INTEGER},
      </if>
      <if test="teamname != null">
        #{teamname,jdbcType=VARCHAR},
      </if>
      <if test="reward != null">
        #{reward,jdbcType=VARCHAR},
      </if>
      <if test="isteammatch != null">
        #{isteammatch,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
       <if test="joinmatch != null">
        #{joinmatch,jdbcType=INTEGER},
      </if>
      <if test="joinlist != null">
        #{joinlist,jdbcType=INTEGER},
      </if>
      <if test="joingage != null">
        #{joingage,jdbcType=INTEGER},
      </if>
      <if test="isconfirm != null">
        #{isconfirm,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mengmaclub.model.Mangoptionsmatch">
    update mangoptionsmatch
    <set>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="joinpeopleid != null">
        joinpeopleid = #{joinpeopleid,jdbcType=INTEGER},
      </if>
      <if test="turn != null">
        turn = #{turn,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="score1one != null">
        score1one = #{score1one,jdbcType=VARCHAR},
      </if>
      <if test="score2one != null">
        score2one = #{score2one,jdbcType=VARCHAR},
      </if>
      <if test="score3one != null">
        score3one = #{score3one,jdbcType=VARCHAR},
      </if>
      <if test="score4one != null">
        score4one = #{score4one,jdbcType=VARCHAR},
      </if>
      <if test="score5one != null">
        score5one = #{score5one,jdbcType=VARCHAR},
      </if>
      <if test="score6one != null">
        score6one = #{score6one,jdbcType=VARCHAR},
      </if>
      <if test="score7one != null">
        score7one = #{score7one,jdbcType=VARCHAR},
      </if>
      <if test="score8one != null">
        score8one = #{score8one,jdbcType=VARCHAR},
      </if>
      <if test="score9one != null">
        score9one = #{score9one,jdbcType=VARCHAR},
      </if>
      <if test="score10one != null">
        score10one = #{score10one,jdbcType=VARCHAR},
      </if>
      <if test="score1two != null">
        score1two = #{score1two,jdbcType=VARCHAR},
      </if>
      <if test="score2two != null">
        score2two = #{score2two,jdbcType=VARCHAR},
      </if>
      <if test="score3two != null">
        score3two = #{score3two,jdbcType=VARCHAR},
      </if>
      <if test="score4two != null">
        score4two = #{score4two,jdbcType=VARCHAR},
      </if>
      <if test="score5two != null">
        score5two = #{score5two,jdbcType=VARCHAR},
      </if>
      <if test="score6two != null">
        score6two = #{score6two,jdbcType=VARCHAR},
      </if>
      <if test="score7two != null">
        score7two = #{score7two,jdbcType=VARCHAR},
      </if>
      <if test="score8two != null">
        score8two = #{score8two,jdbcType=VARCHAR},
      </if>
      <if test="score9two != null">
        score9two = #{score9two,jdbcType=VARCHAR},
      </if>
      <if test="score10two != null">
        score10two = #{score10two,jdbcType=VARCHAR},
      </if>
      <if test="scorefinalone != null">
        scorefinalone = #{scorefinalone,jdbcType=VARCHAR},
      </if>
      <if test="scorefinaltwo != null">
        scorefinaltwo = #{scorefinaltwo,jdbcType=VARCHAR},
      </if>
      <if test="scorefinal != null">
        scorefinal = #{scorefinal,jdbcType=VARCHAR},
      </if>
      <if test="scoreonebytranslate != null">
        scoreonebytranslate = #{scoreonebytranslate,jdbcType=DOUBLE},
      </if>
      <if test="scoretwobytranslate != null">
        scoretwobytranslate = #{scoretwobytranslate,jdbcType=DOUBLE},
      </if>
      <if test="tworoundisconfirm != null">
        tworoundisconfirm = #{tworoundisconfirm,jdbcType=INTEGER},
      </if>
      <if test="oneroundisconfirm != null">
        oneroundisconfirm = #{oneroundisconfirm,jdbcType=INTEGER},
      </if>
      <if test="oneroundrid != null">
        oneroundrid = #{oneroundrid,jdbcType=INTEGER},
      </if>
      <if test="tworoundrid != null">
        tworoundrid = #{tworoundrid,jdbcType=INTEGER},
      </if>
      <if test="teamname != null">
        teamname = #{teamname,jdbcType=VARCHAR},
      </if>
      <if test="reward != null">
        reward = #{reward,jdbcType=VARCHAR},
      </if>
      <if test="isteammatch != null">
        isteammatch = #{isteammatch,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="joinmatch != null">
        joinmatch = #{joinmatch,jdbcType=INTEGER},
      </if>
      <if test="joinlist != null">
        joinlist = #{joinlist,jdbcType=INTEGER},
      </if>
      <if test="joingage != null">
        joingage = #{joingage,jdbcType=INTEGER},
      </if>
      <if test="isconfirm != null">
        isconfirm = #{isconfirm,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mengmaclub.model.Mangoptionsmatch">
    update mangoptionsmatch
    set sn = #{sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      joinpeopleid = #{joinpeopleid,jdbcType=INTEGER},
      turn = #{turn,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      score1one = #{score1one,jdbcType=VARCHAR},
      score2one = #{score2one,jdbcType=VARCHAR},
      score3one = #{score3one,jdbcType=VARCHAR},
      score4one = #{score4one,jdbcType=VARCHAR},
      score5one = #{score5one,jdbcType=VARCHAR},
      score6one = #{score6one,jdbcType=VARCHAR},
      score7one = #{score7one,jdbcType=VARCHAR},
      score8one = #{score8one,jdbcType=VARCHAR},
      score9one = #{score9one,jdbcType=VARCHAR},
      score10one = #{score10one,jdbcType=VARCHAR},
      score1two = #{score1two,jdbcType=VARCHAR},
      score2two = #{score2two,jdbcType=VARCHAR},
      score3two = #{score3two,jdbcType=VARCHAR},
      score4two = #{score4two,jdbcType=VARCHAR},
      score5two = #{score5two,jdbcType=VARCHAR},
      score6two = #{score6two,jdbcType=VARCHAR},
      score7two = #{score7two,jdbcType=VARCHAR},
      score8two = #{score8two,jdbcType=VARCHAR},
      score9two = #{score9two,jdbcType=VARCHAR},
      score10two = #{score10two,jdbcType=VARCHAR},
      scorefinalone = #{scorefinalone,jdbcType=VARCHAR},
      scorefinaltwo = #{scorefinaltwo,jdbcType=VARCHAR},
      scorefinal = #{scorefinal,jdbcType=VARCHAR},
      scoreonebytranslate = #{scoreonebytranslate,jdbcType=DOUBLE},
      scoretwobytranslate = #{scoretwobytranslate,jdbcType=DOUBLE},
      tworoundisconfirm = #{tworoundisconfirm,jdbcType=INTEGER},
      oneroundisconfirm = #{oneroundisconfirm,jdbcType=INTEGER},
      oneroundrid = #{oneroundrid,jdbcType=INTEGER},
      tworoundrid = #{tworoundrid,jdbcType=INTEGER},
      teamname = #{teamname,jdbcType=VARCHAR},
      reward = #{reward,jdbcType=VARCHAR},
      isteammatch = #{isteammatch,jdbcType=INTEGER},
      num = #{num,jdbcType=VARCHAR},
      joinmatch = #{joinmatch,jdbcType=INTEGER},
      joinlist = #{joinlist,jdbcType=INTEGER},
      joingage = #{joingage,jdbcType=INTEGER},
      isconfirm = #{isconfirm,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>